---
import BarChart from "@/components/charts/BarChart.astro";
import DashboardLayout from "@/layouts/DashboardLayout.astro";

export const prerender = true
---

<DashboardLayout>
  <div class="flex flex-col items-center justify-center w-full">
    <BarChart document="invoices" server:defer/>
    <BarChart document="payments" server:defer/>
    <BarChart document="expenses" server:defer/>
  </div>
</DashboardLayout>