---
import type Invoice from "@/interfaces/Invoice";
import getBranch from "@/services/getBranch";

const columns = [
  { title: "Id", key: "entryKey", getter: (value: string) => value.split("#")[2] },
  { title: "Fecha", key: "date", getter: (value: string) => value.split("T")[0] + " " + value.split("T")[1].split(".")[0] },
  { title: "Valor", key: "value", getter: (value: number) => value },
  { title: "Tipo", key: "type" },
  { title: "Estado", key: "status" },
  { title: "Persona", key: "person" },
  { title: "Sucursal", key: "branchId", getter: async (value: string) => await getBranch(value.split("#")[1]) }
]

const invoices: Invoice[] = [{
  "value": 150000,
  "date": "2025-01-30T14:33:31.000Z",
  "branchId": "BRANCH#0002",
  "type": "SALE",
  "status": "En deuda",
  "entryKey": "2025-01-30#INVOICE#679c3686572745ecb08ee8d2"
}]

const processedInvoices = await Promise.all(
  invoices.map(async (invoice) => ({
    ...invoice,
    processedColumns: await Promise.all(
      columns.map(async (column) => {
        const columnValue = invoice[column.key as keyof Invoice];
        if (!columnValue) return '';
        return column.getter ? await column.getter(columnValue as never) : columnValue;
      })
    )
  }))
);

---

<div 
  class="
    flex
    flex-col
    flex-grow
    shadow-[0_0_3px_0px_rgba(0,0,0,0.5)]
    rounded-lg
    bg-[#F4F4F4]
    overflow-auto
  "
>
  <div class="overflow-y-auto">
    <table class="
      w-full 
      [&>tbody>tr>td:first-child]:pl-4 
      [&>thead>tr>td:first-child]:pl-4
    ">
      <thead
        class="
          shadow-[0_1px_3px_-1px_rgba(0,0,0,0.5)] 
          sticky
          top-0
          bg-white 
          text-left
        "
      >
        <tr
          class="h-[35px] text-[#7A7A7A]"
        >
          { columns.map((column) => (<td>{column.title}</td>)) }
        </tr>
      </thead>
      <tbody>
        {processedInvoices.map((invoice) => (
          <tr class="
            bg-white 
            text-[#5C5C5C]
            border-gray-100
            border-b
            h-[30px]
            shadow-[0_1px_3px_-1px_rgba(0,0,0,0.1)]
            hover:bg-[rgb(251,251,251,1)]
          ">
            {invoice.processedColumns.map((value) => (
              <td>{value}</td>
            ))}
          </tr>
        ))}
      </tbody>
    </table>
  </div>
</div>