---
import COLORS from "@styles/colors"
import NavOption from "./NavOption.astro"
import Logo from "../Logo.astro"
import HomeIcon from "./icons/HomeIcon.astro"
import SalesIcon from "./icons/SalesIcon.astro"
import PaymentsIcon from "./icons/PaymentsIcon.astro"
import ExpensesIcon from "./icons/ExpensesIcon.astro"

const validatePath = (path: string) => {
  return Astro.url.pathname.includes(path)
}
---

<nav
  class="
    h-[70px] 
    text-white 
    w-full 
    flex 
    items-center 
    rounded-b-lg
    px-[20px]
  " 
  style={{ background: COLORS.DARK_BLUE }}
>
  <Logo />
  <NavOption 
    text="Inicio" 
    selected={Astro.url.pathname === "/"}
    href="/"
  >
    <HomeIcon />
  </NavOption>
  <NavOption 
    text="Facturas" 
    selected={validatePath("/invoices")}
    href="/invoices"
    marginTopText="5"
  >
    <SalesIcon />
  </NavOption>
  <NavOption 
    text="Pagos" 
    selected={validatePath("/payments")}
    href="/payments"
  >
    <PaymentsIcon />
  </NavOption>
  <NavOption 
    text="Gastos" 
    selected={validatePath("/expenses")}
    href="/expenses"
  >
    <ExpensesIcon size="23px" />
  </NavOption>
</nav>