---
import COLORS from "@styles/colors"

interface Props {
  text: string;
  selected: boolean;
  href: string;
  marginTopText?: string;
}

const { text, selected, href, marginTopText = "3" } = Astro.props;
---

<a 
  class={`
    px-[30px] 
    h-[70px] 
    flex 
    flex-col 
    justify-center 
    items-center 
    cursor-pointer
  `}
  style={{
    color: selected ? "black" : "white",
    background: selected ? COLORS.GREEN : "transaparent"
  }}
  href={href}
>
  <icon />
  <slot />
  <span 
    class={`text-[12px]`}
    style={{ marginTop: `${marginTopText}px` }}
  >{ text }</span>
</a>